@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-toggle.css" rel="stylesheet" />
    <link href="~/Content/RangeSlidar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/datatable.css" rel="stylesheet" />
    <link href="~/Content/Loader.css" rel="stylesheet" />
</head>

<style>
    div.container {
        width: 80%;
    }

    .btn-sm, .btn-group-sm > .btn {
        padding: 4px 7px;
        font-size: 15px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .btnsearchstyle {
        background-color: dimgrey;
        color: white;
    }

    .txtalignright {
        text-align: right;
    }

    .floatright {
        float: right;
    }

    .displaynone {
        display: none;
    }

    .bccolorwhite {
        background-color: white;
    }

    .m-l-5 {
        margin-left: 5px;
    }

    .p-b-6 {
        padding-bottom: 6px;
    }
</style>

<html>

<body>


    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading"><h2>Lutron Quantum</h2></div>
            <div class="panel-body">
                <div class="col-sm-8">
                    <form data-toggle="validator" role="form" id="frmLutronDevice" class="p-b-6">
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Device</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="ddldeviceArea" name="ddldeviceArea" required></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Lighting Scene</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="ddlSceneType" name="ddlSceneType" required></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-3 col-form-label">Lighting Level</label>
                            <div class="range-slider">
                                <input class="range-slider__range" type="range" id="lightLevelSlidar" value="0" min="0" max="100" disabled="disabled">
                                <span class="range-slider__value">0</span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Lighting State</label>
                            <div class="col-sm-9">
                                <input type="checkbox" data-toggle="toggle" id="inputLightState">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-10x fa-lightbulb-o" id="lightLevel" aria-hidden="false"></i>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn-sm btnsearchstyle" id="btnReferesh">
                        <i class="fa fa-refresh" aria-hidden="true">&nbsp; Refresh</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="loading displaynone" id="loader"></div>

</body>

</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap-toggle.min.js"></script>
<script src="~/Scripts/datatable.min.js"></script>
<script src="~/Content/Script/Pages/LutronQuantum.js"></script>