@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />   

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/datatable.css" rel="stylesheet" />
</head>

<style>
    div.container {
        width: 80%;
    }
    .btn-sm, .btn-group-sm > .btn {
        padding: 4px 7px;
        font-size: 15px;
        line-height: 1.5;
        border-radius: 3px;
    }
    .btnsearchstyle {
        background-color: dimgrey;
        color: white;
    }
    .txtalignright {
        text-align: right;
    }
    .floatright{
        float:right;
    }

</style>

<html>

<body>
    <h2>Lutron Quantum</h2>
  
    <div class="col-sm-12">
        <form data-toggle="validator" class="col-sm-6" role="form" id="frmSchedule">
            <h4>Search Device </h4>
         

            <hr />
            <div class="form-group">
                <label for="ddldeviceArea">Device Area</label>
                <select class="form-control" name="ddldeviceArea" id="ddldeviceArea" required></select>
            </div>
            <div class="form-group">
                <label for="ddlDeviceType">Device Type</label>
                <select class="form-control" id="ddlDeviceType" name="ddlDeviceType" required></select>
            </div>
            <button type="button" class="btn-sm btnsearchstyle" id="btnSearch">
           <i class="fa  fa-search"> &nbsp;Search</i>
            </button>
            <button type="button" class="btn-sm btnsearchstyle" id="btnReferesh">
                <i class="fa fa-refresh" aria-hidden="true">&nbsp; Refresh</i>
            </button>
        </form>

    </div>
    <div class="col-sm-12" style="margin-top:30px">
        <h4>Device Detail </h4>
        <hr />
        <div id="deviceListShow">
            <table id="deviceRecords" class="cell-border" cellspacing="0"></table>
        </div>
        <div id="noDeviceLst">
            <h4>No Device Detail.</h4>
        </div>
    </div>


</body>

</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/datatable.min.js"></script>
<script src="~/Content/Script/Pages/LutronQuantum.js"></script>